.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 4rem 0rem;
}
.title {
    font-size: 2rem;
    font-weight: bolder;
}
.map {
    width: 80%;
    height: 500px;
}

@media screen and (max-width : 768px) {
    .map{
        width: 100%;
    }
}
@media screen and (max-width : 480px) {
    .map{
        height: 300px;
    }
}