.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 2rem 0rem;
}
.input_area {
    max-width: 768px;
}
.text {
    margin: 2rem 0rem 0rem 1rem;
}
.text_input {
    width: 39.46rem;
    height: 3rem;
    border: 0.5px solid #dadada;
    font-size: 1rem;
    padding: 0rem 0.6rem;

    transition: 0.3s;
}
.input {
    width: 39.46rem;
    height: 12rem;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1rem;
    resize: none;
}