.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.editor {
    max-width: 768px;
}

@media screen and (max-width : 768px) {
    .editor {
        width: 95vw;
    }
}